div {
    display: block;
}

#drawingsContainer {
    width: calc(100%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, 150px);
    grid-auto-flow: dense;
    justify-content: center;
}

.drawing {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    background-color: #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawing img {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.drawing img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px #000;
}