.subject-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-evenly;
    gap: 40px;
    row-gap: 80px;
    margin-bottom: 40px;
}

.subject-container {
    position: relative;
    border: 2px var(--default-text) solid;
    min-height: 140px;
    flex-basis: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 450px;
    padding: 20px;
    background-color: var(--body-background);
}

.subject-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: calc(2.5vw + 8px);
}

.social-tag {
    font-size: 20px;
    /*width: clamp(50px, 35vw, 300px);*/
    width: 180px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.social-row {
    width: min(60vw, 270px);
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*iconify.design*/
.mdi--youtube {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m10 15l5.19-3L10 9zm11.56-7.83c.13.47.22 1.1.28 1.9c.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83c-.25.9-.83 1.48-1.73 1.73c-.47.13-1.33.22-2.65.28c-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44c-.9-.25-1.48-.83-1.73-1.73c-.13-.47-.22-1.1-.28-1.9c-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83c.25-.9.83-1.48 1.73-1.73c.47-.13 1.33-.22 2.65-.28c1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44c.9.25 1.48.83 1.73 1.73'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.social-icon {
    width: 60px;
    height: 40px;
    cursor: pointer;
}

.fancy-border-project-title-top-back {
    position: absolute;
    top: -15px;
    left: 50px;
    width: calc(100% - 100px);
    height: 20px;
    background-image: url("/images/ui/fancy-border-project-title-back.png");
    background-repeat: repeat;
    filter: var(--dark-mode-invert);
}

.fancy-border-project-title-bottom-back {
    position: absolute;
    bottom: -15px;
    left: 50px;
    width: calc(100% - 100px);
    height: 20px;
    background-image: url("/images/ui/fancy-border-project-title-back.png");
    background-repeat: repeat;
    filter: var(--dark-mode-invert);
}

.fancy-border-project-title-top-center {
    position: absolute;
    top: -20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 60px;
    background-image: url("/images/ui/fancy-border-project-title-center.png");
}

.fancy-border-project-title-top-edge {
    position: absolute;
    top: -20px;
    left: -70px;
    width: 100px;
    height: 60px;
    background-image: url("/images/ui/fancy-border-project-title-top-edge.png");
}

.fancy-border-project-title-bottom-edge {
    position: absolute;
    top: -20px;
    left: -70px;
    width: 100px;
    height: 60px;
    background-image: url("/images/ui/fancy-border-project-title-top-edge.png");
    transform: scaleY(-1);
}

.fancy-border-project-title-top-edge-flip {
    position: absolute;
    top: -20px;
    right: -70px;
    width: 100px;
    height: 60px;
    background-image: url("/images/ui/fancy-border-project-title-top-edge.png");
    transform: scaleX(-1);
}

.fancy-border-project-title-bottom-edge-flip {
    position: absolute;
    top: -20px;
    right: -70px;
    width: 100px;
    height: 60px;
    background-image: url("/images/ui/fancy-border-project-title-top-edge.png");
    transform: scale(-1);
}