.subject-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw;
    justify-content: center;
    gap: max(100px, 10vw);
    row-gap: 80px;
    margin-bottom: 40px;
}

.subject-container {
    position: relative;
    width: 30%;
    min-width: 275px;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 450px;
    padding: 25px min(20px, 3vw);
}

@media screen and (max-width: 400px) {
    .subject-container {
        min-width: 0px;
    }
}

.subject-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: calc(2.5vw + 8px);
}
