.marquee-container {
  overflow: hidden;
  aspect-ratio: 7;
  position: relative;
  background-color: var(--critter-marquee-background);
  height: 160px;

  .marquee {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: marquee 12s linear infinite;
    /*animation-play-state: paused;*/
    animation-delay: -6s;
    display: flex;
    justify-content: space-around;
  }

  .marquee img {
    aspect-ratio: 1;
    height: 100%;
    margin: 0px;
  }

  .marquee2 {
    animation-delay: 0s;
  }

  .marquee-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to right, rgba(var(--body-background-num), 1.0) 0%, rgba(var(--body-background-num), 0.0) 10%, rgba(var(--body-background-num), 0.0) 90%, rgba(var(--body-background-num), 1.0) 100%);
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%
  }
}

@media screen and (max-width: 1250px) {
    .marquee-container {
        aspect-ratio: calc(7 * 0.75);
        height: 130px;

        .marquee {
            width: 150%;
        }
    }

    @keyframes marquee {
    0% {
        left: 150%;
    }
    100% {
        left: -150%
    }
    }
}

@media screen and (max-width: 768px) {
    .marquee-container {
        aspect-ratio: 3.5;
        height: 120px;

        .marquee {
            width: 200%;
        }
    }

    @keyframes marquee {
    0% {
        left: 200%;
    }
    100% {
        left: -200%
    }
    }
}

@media screen and (max-width: 500px) {
    .marquee-container {
        height: 80px;
    }
}
