.project-title {
    text-decoration: underline;
    font-size: min(8vw, 32px);
}

.project-subtitle {
    text-decoration: underline;
    font-size: min(6vw, 24px);
    margin-top: 30px;
    margin-bottom: 20px;
}

.project-year {
    font-size: min(5vw, 24px);
    margin-top: 15px;
    margin-bottom: 10px;
}

.project-title-container {
    position: relative;
    background-color: var(--dark-background-1);
    padding: 5px min(4vw, 40px) 10px min(4vw, 40px);
    border: 4px solid var(--dark-background-2);
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 60%;
}

.fancy-border-project-title-top-back {
    position: absolute;
    top: -15px;
    left: 20px;
    width: calc(100% - 40px);
    height: 20px;
    background-image: url("/images/ui/fancy-border-project-title-back.png");
    background-repeat: repeat;
    filter: var(--dark-mode-invert);
}

.fancy-border-project-title-bottom-back {
    position: absolute;
    bottom: -15px;
    left: 20px;
    width: calc(100% - 40px);
    height: 20px;
    background-image: url("/images/ui/fancy-border-project-title-back.png");
    background-repeat: repeat;
    filter: var(--dark-mode-invert);
}

.fancy-border-project-title-top-center {
    position: absolute;
    top: -20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 60px;
    background-image: url("/images/ui/fancy-border-project-title-center.png");
}

.fancy-border-project-title-top-edge {
    position: absolute;
    top: -20px;
    left: -70px;
    width: 100px;
    height: 60px;
    background-image: url("/images/ui/fancy-border-project-title-top-edge.png");
}

.fancy-border-project-title-bottom-edge {
    position: absolute;
    top: -20px;
    left: -70px;
    width: 100px;
    height: 60px;
    background-image: url("/images/ui/fancy-border-project-title-top-edge.png");
    transform: scaleY(-1);
}

.fancy-border-project-title-top-edge-flip {
    position: absolute;
    top: -20px;
    right: -70px;
    width: 100px;
    height: 60px;
    background-image: url("/images/ui/fancy-border-project-title-top-edge.png");
    transform: scaleX(-1);
}

.fancy-border-project-title-bottom-edge-flip {
    position: absolute;
    top: -20px;
    right: -70px;
    width: 100px;
    height: 60px;
    background-image: url("/images/ui/fancy-border-project-title-top-edge.png");
    transform: scale(-1);
}

.project-column-60 {
    max-width: 600px;
    width: 80%;
}

.project-column-80 {
    max-width: 800px;
    width: 80%;
}

.project-column-100 {
    max-width: 1000px;
    width: 80%;
}

.project-gallery-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: min(2vw, 10px);
}

.project-image-small {
    max-width: 250px;
    width: 40%;
}

.project-image-medium {
    max-width: 300px;
    width: 80%;
}

.project-border-thin {
    border: round(up, min(0.5vw, 3px), 1px) solid var(--default-text);
}

.project-margin-20 {
    margin: 20px;
}

.project-margin-20-top {
    margin-top: 20px;
}

.project-margin-10 {
    margin: 10px;
}

.project-margin-10-top {
    margin-top: 10px;
}

.project-margin-10-bottom {
    margin-bottom: 10px;
}

.project-uncenter-children p {
    text-align: left;
}

p {
    font-size: min(4.5vw, 20px);
    line-height: min(6vw, 24px);
    text-align: center;
}

h2 {
    font-size: min(6vw, 24px);
    line-height: min(6vw, 24px);
    text-align: center;
}

ol {
    font-size: min(4vw, 18px);
    line-height: min(6vw, 24px);
    list-style-type: decimal;
    margin: 30px;
    list-style-position: inside;
    text-align: center;
}

li {
    margin: 5px;
}

.project-button {
    border: 2px solid var(--default-text);
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px;
    cursor: pointer;
    text-align: center;
    transition: 0.1s;
    border-radius: 5px;
}

.project-button:hover {
    transform: scale(1.1);
    background-color: var(--dark-background-1);
}
