html, body {
    width: 100%;
    height: 100%;
}

#projectHeader {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    min-height: 48px;
    align-items: center;
    flex-direction: row;

    color: white;
    padding: 0px 5px;
    box-sizing: border-box;

    position: fixed;
    top: 0px;

    flex-wrap: nowrap;
}

#projectHeader .ink-border-thin-top {
    display: none;
}

#projectHeader, p {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    #projectHeader .ink-border-thin-left, #projectHeader .ink-border-thin-right {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    #projectHeader, p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    #projectHeader {
        padding-top: 0px;
    }
    
    #projectHeader, p {
        font-size: 14px;
    }
}


#projectHeader, a {
    color: white;
}