html, body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.name-title {
    margin: 0px 20px;
}

.site-logo {
    width: clamp(40px, 8vw, 90px);
}

.site-title {
    margin: 0px 0px 0px clamp(0px, 3vw - 10px, 30px);
    font-size: clamp(18px, 3.8vw, 26px);
    width: clamp(80px, 30vw, 220px);
    font-weight: bold;
    display: block;
}

.title-container {
    width: 40%;
    max-width: 340px;
    flex-wrap: wrap;
    row-gap: 6px;
}

.page-link {
    width: min(20vw, 90px);
    font-size: min(4vw, 20px);
    font-size: clamp(12px, 3vw, 20px);
    font-weight: bold;
    margin: 4px 10px;
    text-align: center;
}

.links-container {
    width: 55%;
    min-height: 60px;
    flex-wrap: wrap;
    row-gap: 2px;
    background-color: #BBBBBB;
}

.current-page {
    color: red;
}

.clickable {
    cursor: pointer;
    transition-duration: 50ms;
    scale: 1;
}

.clickable:hover {
    scale: 1.075;
}

.headerContainer {
    width: 100%;
    box-sizing: border-box;
    height: 120px;
    background-color: #DDDDDD;
    color: black;
    justify-content: space-evenly;
    padding: 0px min(3vw, 20px) 0px 0px;
    margin-bottom: min(8vw, 60px);
}

.footerContainer {
    width: 100%;
    box-sizing: border-box;
    height: 120px;
    background-color: #DDDDDD;
    color: black;
    justify-content: space-evenly;
    padding: 0px min(3vw, 20px) 0px 0px;
    margin-top: min(8vw, 60px);
}
